@import '@/assets/styles/global.module.less';

.form-menu {
  width: 301px;
  background: #fff;
  box-shadow: 3px 0 16px rgba(0, 0, 0, .06);

  &.affix {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }

  &.hide {
    display: none;
  }

  .content {
    height: 100%;
    overflow-y: auto;
  }

  .formRender {
    padding: 12px 20px 20px;

    :global {
      .fr-field:not(:last-child) {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--mm-panel-border-color);
      }

      .fr-card-list .fr-card-item>.fr-field {
        border-bottom: none;
      }

      .fr-field {
        display: flex;
        justify-content: space-between;
      }

      .fr-label-title::after {
        display: none;
      }

      .fr-label {
        text-align: left;
      }

      .error-message {
        display: none;
      }

      .fr-tooltip-container {
        left: 40px;
      }

      .fr-tooltip-triangle {
        left: 25%;
      }
    }

    &.hide {
      display: none;
    }
  }
}

.setting-icon {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -20px;
  z-index: 999;
}

.breadcrumb {
  padding: 0 10px;
  height: 30px;
  border-bottom: 1px solid var(--mm-panel-border-color);
  overflow: auto;
  display: flex;
  align-items: center;

  .scrollbar(3px, 3px)
}