.header {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  background: var(--mm-main-panel-header-bg-color);
  border-bottom: 1px solid var(--mm-panel-border-color);
  padding: 4px;
  overflow: hidden;
  position: relative;
  z-index: 999;

  .left {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 100ms linear;
    padding: 0 5px;
    height: 53px;
    width: 100%;

    .menu {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      .menuItem {
        // width: 120px;
        // display: inline-block;
      }
    }

    &.default {
      background-color: #615fe1;

      .ant-menu {
        background: #615fe1;
        border: none;
        transition: background-color 100ms linear !important;

        .ant-menu-item {
          transition: background-color 100ms linear !important;
          border: none;
          color: #fff;

          a {
            color: #fff;

            &:hover,
            &:focus {
              background: #615fe1;
            }
          }
        }
      }
    }

    &.white {
      background-color: #fff;

      .ant-menu {
        border: none;
        background: #fff;
        transition: background-color 100ms linear !important;

        .ant-menu-item {
          transition: background-color 100ms linear !important;
          color: #615fe1;

          a {
            color: #615fe1;

            &:hover,
            &:focus {
              background: #fff;
              color: #615fe1;
            }
          }
        }
      }
    }
  }

  .logo {
    height: 50px;
    display: flex;
    align-items: center;
    .logo-container {
      height: 36px;
    }
  }
}

